<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title%></title>
  </head>
  <body>
    <h1>Welcome to the character page :)</h1>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/charScript.js"></script>
  </body>
</html>
