<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Finger For Life</title>
    <link rel="stylesheet" href="stylesheets/homeStyle.css">
  </head>
  <body>
    <div class="bg">
      <div class="title">
        <div class="leftFing">
          <img src="images/finga.png" alt="finger">
        </div>

        <div class="wordContainer">
          <div class="word">
            <p>FINGER <br> FOR <br> LIFE</p>
          </div>

          <div class="button">
            <a href="/sync">
              <p>START</p>
            </a>
          </div>
        </div>

        <div class="rightFing">
          <img src="images/finga.png" alt="finger">
        </div>
      </div>
    </div>
  </body>
</html>
