<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/joinStyle.css">
  </head>
  <body>
    <div class="bg">
      <div class="formContainer">
        <p>Enter the code from the desktop below:</p>
        <form>
          <input id="code" autocomplete="off" > <br>
          <button>JOIN</button>
        </form>
      </div>
      <p id="joined"></p>
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/javascripts/joinScript.js"></script>
  </body>
</html>
