<div class="EnterCodeWrapper">
  <div class="info">
    <label for="inputGameCode">Enter the Code:</label>
    <input id="inputGameCode" type="text" />
  </div>

  <div class="info buttons">
    <button id="enterCodeButton" class="btn">Start</button>
    <div id="playerWaitingMessage"></div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/clientSideGame"></script>
<script src="javascripts/serverSideGame"></script>
<script src="javascripts/jquery-2.0.0.min.js"></script>
