<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/mobileStyle.css">
  </head>
  <body>
    <div class="bg">
      <div class="formContainer">
        <p>Enter the code from the desktop below:</p>
        <form action="/char">
          <input id="code" name="room" autocomplete="off" autofocus> <br>
          <button>JOIN</button>
        </form>
      </div>
      <p id="joined"></p>
      <form id="nextPage" action="/char">
        <button>NEXT</button>
      </form>
    </div>


    <script src="/socket.io/socket. io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/javascripts/mobileScript.js"></script>
  </body>
</html>
