<div class="EnterCodeWrapper">
  <div class="info">
    <label for="inputGameCode">Enter the Code:</label>
    <input id="inputGameCode" type="text" />
  </div>

  <div class="info buttons">
    <button id="enterCodeButton" class="btn">Start</button>
    <div id="playerWaitingMessage"></div>
  </div>
</div>

<!-- <script src="javascripts/jquery-2.0.0.min.js"></script> -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/clientSideGame"></script>
<script src="javascripts/serverSideGame"></script>
