<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Finger For Life Sync Page</title>
    <link rel="stylesheet" type="text/css" href="Style/syncStyle.css">
  </head>
  <body onload="getRandInt()">
    <div class="bg">

      <div class="title">

        <div class="step1">

          <div class="step1Title">

            <h1>SYNC STEP 1</h1>
          </div>
          <p>Enter the link below in your smartphone or tablet browser.<br>
          The first person to connect is in charge of the game</p>

          <div class="link">

            <p>fingerforlife.herokuapp.com/mobile</p>
          </div>
        </div>

        <div class="step2">

          <div class="step2Title">

            <h1>SYNC STEP 2</h1>
          </div>
          <p>Enter the code below<br> on the mobile site.</p>

          <div class="wrapperCode">
            <p id="code"></p>
          </div>

        </div>
      </div>
    </div>
  </body>

  <script>
    function getRandInt(){
      var text = "";
      text = Math.floor(Math.random() * (999999 - 111111)) + 111111;
      document.getElementById("code").innerHTML = text;
    }
  </script>
</html>
