.desktopContainer{
  width: 900px;
  height: 600px;
  margin: auto;
  margin-top: 40px;
  /* border: 2px solid black; */
}

#pageTitle h1{
  text-align: center;
  font-family: sans-serif;
  font-size: 20pt;
}

#text1, #text2{
  width: 200px;
  height: 40px;
  text-align: center;
  font-family: sans-serif;
  font-size: 14pt;
  float: left;
  margin-left: 20px;
  margin: auto;
}

.playerContainer{
  /* border: 2px solid black; */
  margin-left: 15px;
  width: 850px;
  height: 420px;
}
.player1Container{
  /* border: 2px solid black; */
  text-align: center;
  float: left;
  width: 350px;
  height: 400px;
  margin-top: 3px;
  margin-left: 35px;
}

.player2Container{
  /* border: 2px solid black; */
  margin-top: 3px;
  margin-right: 25px;
  text-align: center;
  float: right;
  width: 350px;
  height: 400px;
}

#imagePlayer1, #imagePlayer2{
  /* border: 2px solid black; */
  float: left;
  width: 250px;
  height: 300px;
  margin-top: 6px;
  margin-left: 20px;
}

#player1Char, #player2Char{
  width: 200px;
  height: 40px;
  text-align: center;
  font-family: sans-serif;
  font-size: 14pt;
  float: left;
  margin-left: 25px;
  margin: auto;
}

.imgChar{
  width: 150px;
  height: 200px;
  float: left;
  margin-top: 5px;
  margin-left: 20px;
}
