body{
  background-color: #F9690E;
}

@font-face {
  font-family: "fingerfunny";
  src: url("Nickname_DEMO.otf");
}

.bg{
  width: 1210px;
  height: 660px;
  border-style: solid;
  border-color: black;
  border-width: thick;
  margin-top: 20px;
  margin-left: 20px;
  /*background-color: #F5D76E;*/
  background-color: #FDE3A7;
}

.title{
  width: 1000px;
  height: 400px;

  margin: auto;
  margin-top: 100px;

}

.leftFing{
  width: 300px;
  height: 380px;

  margin-left: 5px;
  margin-top: 5px;

  float: left;
}

.leftFing img{
  width: 300;
  height: 380px;
  margin-left: 8px;
}

.wordContainer{
  width: 360px;
  height: 380px;


  margin-left: 5px;
  margin-top: 5px;

  float: left;
}

.word p{
  font-family: 'fingerfunny';
  font-size: 70pt;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 55px;
  float: left;
  color: black;
}

.button{
  width: 250px;
  height: 80px;


  margin-left: 50px;
  float: left;

  border-radius: 30px;
  border-width: 5pt;
  border-color: #DB0A5B;
  border-style:inset;
  background-color: #F2784B;
}

.button p{
  font-family: "fingerfunny";
  text-align: center;
  margin-top: 23px;
  font-size: 30pt;
  color: white;
}

.rightFing{

  width: 300px;
  height: 380px;


  margin-left: 5px;
  margin-top: 5px;

  float: left;
}

.rightFing img{
  width: 300;
  height: 380px;
  margin-left: 8px;
}
