body{
  background-color: #F9690E;
}

@font-face {
  font-family: "fingerfunny";
  src: url("Nickname_DEMO.otf");
}

.stage-area{
  /* width: 1200px;
  height: 600px; */
  border-style: solid;
  border-color: black;
  border-width: thick;
  margin: 20px;
  padding: 10px;
  /* margin-top: 20px;
  margin-left: 20px; */
  /*background-color: #F5D76E;*/
  background-color: #FDE3A7;
}

@media (max-width: 1200px) and (max-height: 660px){
  .stage-area{
    width: auto;
    height: auto;
  }
}

@media (max-width: 1000px) and (max-height: 600px){
  .titleContainer{
    width: auto;
    height: auto;
  }
}

@media (max-width:500px){
  #leftFingImg, #rightFingImg{
    display: none;
  }

  .leftFing{
    float: none;
    display: none;
  }
}

.titleContainer{
  width: 1000px;
  height: 480px;
  /* border: 2px solid black; */
  padding: 15px;
  margin: auto;
}

.leftFing{
  width: 300px;
  height: 380px;
  margin-left: 50px;
  /* margin-top: 5px; */
  float: left;
  /* border: 2px solid black; */
}

#leftFingImg, #rightFingImg{
  width: 300px;
  height: 380px;
}

.wordContainer{
  width: 260px;
  height: 490px;
  margin-left: 5px;
  /* margin-top: 5px; */
  float: left;
  /* border: 2px solid black; */
}

.word p{
  font-family: 'fingerfunny';
  font-size: 70pt;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  /* margin-left: 55px; */
  float: left;
  color: black;
}

#startButton, #joinButton{
  width: 250px;
  height: 80px;
  /* margin-left: 50px; */
  margin-bottom: 5px;
  float: left;
  border-radius: 30px;
  border-width: 5pt;
  border-color: #DB0A5B;
  border-style:inset;
  background-color: #F2784B;

  font-family: "fingerfunny";
  text-align: center;
  margin-top: 23px;
  font-size: 30pt;
  color: white;
}

#startButton:hover , #joinButton:hover{
  background-color: #F54707;
}

.rightFing{
  width: 300px;
  height: 380px;
  margin-left: 5px;
  /* margin-top: 5px; */
  float: left;
  /* border: 2px solid black; */
}
