body{
  background-color: #F9690E;
}

.bg{
  width: 1210px;
  height: 660px;
  border-style: solid;
  border-color: black;
  border-width: thick;
  margin-top: 20px;
  margin-left: 20px;
  background-color: #FDE3A7;
}
